{% extends 'main/base.html' %}

{% block content %}
<p>Dnes na svatek {{ svatek }}</p>

{% for movie in movies %}
    <h2>{{ movie.title }}</h2>
{% endfor %}

<nav class="navbar navbar-expand-md bg-body-tertiary container-fluid">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="#">
            <i class="bi bi-pc-display"></i>
            Used PC-hardware store
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="./one">One</a>
                <a class="nav-link" href="./two">Two</a>
            </div>
        </div>

    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="karta 1">
                <div class="card-body">
                    <h5 class="card-title">Sample text</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, officia nihil! Tempora voluptate dolorem atque ducimus, ad labore impedit ea magnam maiores quae, quasi, animi soluta asperiores. Eveniet, vero libero.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="https://www.youtube.com/watch?v=Sagg08DrO5U" class="btn btn-outline-primary">Click me!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="karta 2">
                <div class="card-body">
                    <h5 class="card-title">HUMONGOUSLY HUMO-HUGE MEGA-ULTRA SUPREME SAMPLE TEXT</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores earum molestias deleniti laudantium, enim laborum totam tempora ducimus mollitia at maxime iusto! Rerum tempora voluptatibus animi, ab voluptate dolores molestiae.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary">CLICK ME!!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://placehold.co/300x200" class="card-img-top" alt="karta 2">
                <div class="card-body">
                    <h5 class="card-title">Sample text</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus harum odio voluptas quia. Quam pariatur consequatur numquam nulla, voluptate, tempora nihil fugiat quo totam veritatis aut nemo sapiente hic? Voluptas.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="https://www.youtube.com/watch?v=ZyhrYis509A&t=14s" class="btn btn-outline-primary">Click me!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}